/*
Author: Kylie Struhs
Date: 11/20/2023
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, div, img, ul, nav li, nav ul {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style Rules for Body and Images */

img {
  max-width: 100%;
  display:block;
}
/* Style Rules for Mobile Viewport */

/* Style Rule for header */


/* Style Rule for Navigation Area */
nav ul {
  list-style-type: square;
  text-align: center;
}

nav li a {
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

/* Style Rule for Boxes */

#goals {
  display: inline-block;
  width: 40%;
  margin: 5% 5% 0% 5%;
  padding: 0% 5%;
  border-radius: 10px;
  background-color: #63cfda;
}

#accomplishments {
  display: inline-block;
  width: 40%;
  margin: 1% 5% 5% 5%;
  padding: 0% 0% 0% 5%;
  border-radius: 10px;
  background-color: #2cffa0;
}

/* Style Rules for Images */

#landscape_photo {
  display: inline-block;
  width: 25%;
  margin: 5% 5% 0% 5%;
  border-radius: 10px;
}

#grad_photo {
  display: inline-block;
  width: 25%;
  margin: 5% 5% 0% 5%;
  border-radius: 10px;
}